/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#111;
}

.logo{
    color:white;
}

.nav-links{
    list-style:none;
    display:flex;
}

.nav-links li{
    margin-left:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

/* HERO SECTION */

.hero{
    height:90vh;
    background:url('../images/hero.jpg') center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    background:rgba(0,0,0,0.5);
    padding:40px;
    color:white;
}

.hero-content h1{
    font-size:40px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:18px;
    margin-bottom:25px;
}

.btn{
    background:#e63946;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}